<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.zsjspark.mapper.GroupMapper">
	<resultMap id="groupRM" type="Group">
		<id column="GROUP_ID" property="groupId" jdbcType="INTEGER" />
		<result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
		<result column="CREATE_PEOPLE" property="createPeople"
			jdbcType="INTEGER" />
		<result column="CHANGED_DATE" property="changedDate" jdbcType="BIGINT" />
		<result column="CHANGE_PEOPLE" property="changePeople"
			jdbcType="INTEGER" />
		<result column="CREATE_DATE" property="createDate" jdbcType="BIGINT" />
		<result column="STATUS" property="status" jdbcType="INTEGER" />
		<result column="DELETE_DATE" property="deleteDate" jdbcType="BIGINT" />
		<result column="DELETE_PEOPLE" property="deletePeople"
			jdbcType="INTEGER" />
		<collection property="items" ofType="Item">
			<id column="ITEM_ID" property="itemId" jdbcType="INTEGER" />
			<result column="ITEM_NAME" property="itemName" jdbcType="VARCHAR" />
			<result column="PARAMETER_NAME" property="parameterName" jdbcType="VARCHAR" />
			<result column="GROUP_ID" property="groupId" jdbcType="INTEGER" />
			<result column="CREATE_PEOPLE" property="createPeople" jdbcType="INTEGER" />
			<result column="CHANGED_DATE" property="changedDate" jdbcType="BIGINT" />
			<result column="CHANGE_PEOPLE" property="changePeople" jdbcType="INTEGER" />
			<result column="CREATE_DATE" property="createDate" jdbcType="BIGINT" />
			<result column="STATUS" property="status" jdbcType="INTEGER" />
			<result column="DELETE_DATE" property="deleteDate" jdbcType="BIGINT" />
			<result column="DELETE_PEOPLE" property="deletePeople" jdbcType="INTEGER" />
		</collection>
	</resultMap>
	<sql id="Base_Column_List">
		GROUP_ID, GROUP_NAME, CREATE_PEOPLE, CHANGED_DATE,
		CHANGE_PEOPLE, CREATE_DATE,
		STATUS,
		DELETE_DATE, DELETE_PEOPLE
	</sql>

	<select id="findById" parameterType="java.lang.Integer"
		resultMap="groupRM">
		select
		<include refid="Base_Column_List" />
		from `group`
		where GROUP_ID = #{groupId,jdbcType=INTEGER}
	</select>

	<!-- 根据条件查询Group数据 -->
	<select id="findData" parameterType="map" resultMap="groupRM">
		select * from `group`,item where group.GROUP_ID=item.GROUP_ID
		<if test="groupId != null">
			and `group`.GROUP_ID = #{groupId,jdbcType=INTEGER}
		</if>
		<if test="groupName != null">
			and `group`.GROUP_NAME = #{groupName,jdbcType=VARCHAR}
		</if>
		<if test="createPeople != null">
			and `group`.CREATE_PEOPLE = #{createPeople,jdbcType=INTEGER}
		</if>
		<if test="changedDate != null">
			and `group`.CHANGED_DATE = #{changedDate,jdbcType=BIGINT}
		</if>
		<if test="changePeople != null">
			and `group`.CHANGE_PEOPLE = #{changePeople,jdbcType=INTEGER}
		</if>
		<if test="createDate != null">
			and `group`.CREATE_DATE = #{createDate,jdbcType=BIGINT}
		</if>
		<if test="status != null">
			and `group`.STATUS = #{status,jdbcType=INTEGER}
		</if>
		<if test="deleteDate != null">
			and `group`.DELETE_DATE = #{deleteDate,jdbcType=BIGINT}
		</if>
		<if test="deletePeople != null">
			and `group`.DELETE_PEOPLE = #{deletePeople,jdbcType=INTEGER}
		</if>
		<if test="startNum != null">
			limit #{startNum},#{endNum}
		</if>
	</select>

	<!-- 根据条件查询 -->
	<select id="findByCondition" parameterType="map" resultMap="groupRM">
		select * from `group` where STATUS != 0
		<if test="groupId != null">
			and GROUP_ID = #{groupId,jdbcType=INTEGER}
		</if>
		<if test="groupName != null">
			and GROUP_NAME = #{groupName,jdbcType=VARCHAR}
		</if>
		<if test="createPeople != null">
			and CREATE_PEOPLE = #{createPeople,jdbcType=INTEGER}
		</if>
		<if test="changedDate != null">
			and CHANGED_DATE = #{changedDate,jdbcType=BIGINT}
		</if>
		<if test="changePeople != null">
			and CHANGE_PEOPLE = #{changePeople,jdbcType=INTEGER}
		</if>
		<if test="createDate != null">
			and CREATE_DATE = #{createDate,jdbcType=BIGINT}
		</if>
		<if test="status != null">
			and STATUS = #{status,jdbcType=INTEGER}
		</if>
		<if test="deleteDate != null">
			and DELETE_DATE = #{deleteDate,jdbcType=BIGINT}
		</if>
		<if test="deletePeople != null">
			and DELETE_PEOPLE = #{deletePeople,jdbcType=INTEGER}
		</if>
		<if test="startNum != null">
			limit #{startNum},#{endNum}
		</if>
	</select>

	<delete id="delete" parameterType="java.lang.Integer">
		delete from group
		where
		GROUP_ID = #{groupId,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="Group">
		insert into `group`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="groupId != null">
				GROUP_ID,
			</if>
			<if test="groupName != null">
				GROUP_NAME,
			</if>
			<if test="createPeople != null">
				CREATE_PEOPLE,
			</if>
			<if test="changedDate != null">
				CHANGED_DATE,
			</if>
			<if test="changePeople != null">
				CHANGE_PEOPLE,
			</if>
			<if test="createDate != null">
				CREATE_DATE,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="deleteDate != null">
				DELETE_DATE,
			</if>
			<if test="deletePeople != null">
				DELETE_PEOPLE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="groupId != null">
				#{groupId,jdbcType=INTEGER},
			</if>
			<if test="groupName != null">
				#{groupName,jdbcType=VARCHAR},
			</if>
			<if test="createPeople != null">
				#{createPeople,jdbcType=INTEGER},
			</if>
			<if test="changedDate != null">
				#{changedDate,jdbcType=BIGINT},
			</if>
			<if test="changePeople != null">
				#{changePeople,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="deleteDate != null">
				#{deleteDate,jdbcType=BIGINT},
			</if>
			<if test="deletePeople != null">
				#{deletePeople,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="Group">
		update group
		<set>
			<if test="groupName != null">
				GROUP_NAME = #{groupName,jdbcType=VARCHAR},
			</if>
			<if test="createPeople != null">
				CREATE_PEOPLE = #{createPeople,jdbcType=INTEGER},
			</if>
			<if test="changedDate != null">
				CHANGED_DATE = #{changedDate,jdbcType=BIGINT},
			</if>
			<if test="changePeople != null">
				CHANGE_PEOPLE = #{changePeople,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=INTEGER},
			</if>
			<if test="deleteDate != null">
				DELETE_DATE = #{deleteDate,jdbcType=BIGINT},
			</if>
			<if test="deletePeople != null">
				DELETE_PEOPLE = #{deletePeople,jdbcType=INTEGER},
			</if>
		</set>
		where GROUP_ID = #{groupId,jdbcType=INTEGER}
	</update>

</mapper>