<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.st.zsjspark.mapper.MachineObjectMapper" >
  <resultMap id="machineObjectRM" type="MachineObject" >
    <id column="MACHINE_NAME" property="machineName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="MachineObject" extends="machineObjectRM" >
    <result column="MACHINE_OBJECT" property="machineObject" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    MACHINE_NAME
  </sql>
  <sql id="Blob_Column_List" >
    MACHINE_OBJECT
  </sql>
  
  <select id="findById" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from machine_object
    where MACHINE_NAME = #{machineName,jdbcType=VARCHAR}
  </select>
  
  <delete id="delete" parameterType="java.lang.String" >
    delete from machine_object
    where MACHINE_NAME = #{machineName,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="MachineObject" >
    insert into machine_object
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="machineName != null" >
        MACHINE_NAME,
      </if>
      <if test="machineObject != null" >
        MACHINE_OBJECT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="machineName != null" >
        #{machineName,jdbcType=VARCHAR},
      </if>
      <if test="machineObject != null" >
        #{machineObject,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="MachineObject" >
    update machine_object
    <set >
      <if test="machineObject != null" >
        MACHINE_OBJECT = #{machineObject,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where MACHINE_NAME = #{machineName,jdbcType=VARCHAR}
  </update>

</mapper>